body{
    background-color: darkslateblue;
}
a p{
  position: relative;
  bottom: 100px;
  font-family: "Montserrat",sans-serif;
    font-weight: 500;
    font-size: 20px;
    font-style: italic;
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: flex;
    padding-left: 9px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 3px;
    background-color: brown;
    margin: 10px;
    width: 5%;
    border-style: solid;
    border-color: blueviolet;
    border-radius: 30px;
    border-width: 5px;
   
    box-shadow: rgb(27, 20, 27) 7px 6px;
}
h1{
   text-align: center;
   font-size: 75px;
   font-style: italic;
   font-weight: 2000;
   text-shadow: rgb(180, 179, 179) 3px 2px;
}
.photos img{
  margin: 9px;
  padding-left: 15px;
  box-shadow: black 9px 5px;
}